/*reglas 
selectores*/


/*header {
    background-color: red !important;
    
}*/


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5qcr3r');
    src:  url('../fonts/icomoon.eot?5qcr3r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?5qcr3r') format('truetype'),
      url('../fonts/icomoon.woff?5qcr3r') format('woff'),
      url('../fonts/icomoon.svg?5qcr3r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu-:before {
    content: "\e900";
  }


@font-face {
    font-family: 'icomoon';
    src:  url('../social-fonts/icomoon.eot?vmivw5');
    src:  url('../social-fonts/icomoon.eot?vmivw5#iefix') format('embedded-opentype'),
      url('../social-fonts/icomoon.ttf?vmivw5') format('truetype'),
      url('../social-fonts/icomoon.woff?vmivw5') format('woff'),
      url('../social-fonts/icomoon.svg?vmivw5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-github:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  .icon-twitter:before {
    content: "\e903";
  }
  


.menu-nav {
    list-style-type: none;
    /* display: flex; */
    text-decoration: none;
    height: inherit;

}

body {
    font-family: 'montserrate', arial, sans-serif;
    margin: 0;

}

.logo {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ol {
    display: flex;
    height: inherit;
}

figure {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 50px;
    color:#FFFF;
    margin: 0;
    padding: 20px;
}

h1 strong {
    color: teal;
}

h2 {
   color: blue; 
   text-transform: uppercase;
   font-family: 'Courier New', Courier, monospace; 
   font-weight: bold;   
   font-size: 25px;
   margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    background-size: 500px 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    margin: 0;
    object-fit: cover;
}

.portafolio {
    background-color:#FAFAFA;
    padding: 20px;
}

.project {
    border: 2px solid rebeccapurple;
    padding: 20px;
    border-radius: 10px;
    background-color: seashell;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.project-tittle {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-course, 
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    margin: 10px 0;
}
.project-details {
    width: 50%;
    flex-shrink: inherit;
}
.project-imageContainer {
    height: auto;
    width: 50%;
}

.project-image {
    width: 100%;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}
.event-list-tittle {
    margin: 20px;
}
.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f4fbff;
}
.event-tittle {
    margin-top: 10px;
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 30px;
    background-color: white;
    margin-top: -50px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-url {
    border: 2px solid rebeccapurple;
    padding: 10px 20px;
    text-decoration: none;
    color: rebeccapurple;
    border-radius: 5px;
}
.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    flex-wrap: wrap;
}
.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.contact {
    background-color: rebeccapurple;
    color: white;
    height: 200px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .social {
    border: 1px solid white;
} */


.form-email input {
    border-color: grey;
    border-radius: 5px;
    padding: 5px 20px 5px 50px;
    background-image: url('../images/envelope.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-style: solid;
    width: 150x;
    margin: 10px auto;
    
}
.social {
    padding: 10px;
}
.social-link {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    font-size: 40px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-repeat: no-repeat;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
    background-size: 50px 50px;
}
.social-link.github {
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
}
.social-link.instagram {
    background-image: url('../images/instagram.svg');
    background-size: 50px 50px;
}
.footer {
    color: ivory;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-image {
    height: 30px;
}

.footer img {
    vertical-align: middle;
}
.footer a {
    color: lawngreen;
}

.container {
    max-width: 1000px;
    display: inherit;
    flex: 1;
    align-items: inherit;
    justify-content: inherit;
    margin: 0 auto;
    /* width: 1000px; */
    height: inherit;
    flex-wrap: inherit;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    color: seashell;
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
}

/* desktop first comenzar desde el MQ mas grande */

@media screen and (max-width:1024px) {
    .youtube-video {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .flexible-video {
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        background: blue;
        position: relative;

    }
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        position: relative;
        z-index: 2;
}

@media screen and (max-width: 767px){
    .burger-button {
        display: block;
    }

    }
    .header{
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }

    .menu-nav {
        position: fixed;
        background: rgba(5, 111, 255, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu-nav.is-active {
        left: 0;
    }
    
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
    }
    .project-imageContainer img {
        max-width: auto;
    }
    .project-details {
        width: auto;
        font-size: 16px;
    }
    .project-tittle {
        font-size: 1.5em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-course {
        font-size: 1.2em;
    }
    .project-description {
        font-size: .8em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
    .contact {
        height: auto;
        text-align: center;
        display: block;
    }
}

@media screen and (max-width:480px) {
    .project-details {
        font-size: 12px;
    }
    .event-detail {
        margin: -2em 1em 2em;
        border-radius: 2px;
    }
    .contact {
        height: auto;
        text-align: center;
        display: block;
    }
    .form-email button {
        padding: 1em 2em;
        margin-top: 1.5em;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
        
    }
}

@media screen and (max-width:320px) {
    .container {
        position: relative;
    }
    h1 {
        font-size: 1.5em;
        line-height: initial;
        padding: 0.5em;
        background: rgba(0, 0, 0, .5);
    }
    .hero {
        padding: 1em 0;
        height: auto;
    }
    .logo img {
        width: 100%;
    
    }
}